
table {
  display:flex;
  flex-direction: column;
  max-width: 1556px;
  margin-top: 50px;
  background: white;
  border: 0.5px dotted black;
  tr {
    display: flex;
    min-height: 72px;
  }
  td {
    padding: 24px;
    font-size: 14px;
    width: 100%;
    border-bottom: 0.5px dotted black;
    }
  }

